@import '../../css/media.scss';
@import '../../css/reset.scss';
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
:root {
    --color-main: #0984e3;
}

.container-css {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    li {
        margin-bottom: 20px;
        line-height: 2;
    }
}
.home {
}
.title-home {
    border-radius: 5px;
    background-color: var(--color-main);
    color: white;
    width: fit-content;
    margin: 60px auto 30px auto;
    font-weight: 600;
    font-size: 22px;
    @include xs {
        font-size: 18px;
        padding: 5px 30px;
    }
    @include sm {
        font-size: 24px;
        padding: 10px 30px;
    }
    @include lg {
        font-size: 20px;
        padding: 5px 30px;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 80px;
}
.main {
    font-size: 18px;
    .banner {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.now {
    text-transform: capitalize;
    background-image: linear-gradient(-225deg, #0984e3 0%, #0984e3 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    border: 1px solid var(--color-main);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
