@import '../../../css/reset.scss';
@import '../../../css/media.scss';

:root {
    --color-main: #0984e3;
}
.container-css {
    max-width: 1200px;
    margin: 0 auto;
}

.main-dv {
    .none {
        height: 100px;
    }
    .banner-dv {
        padding: 60px 0;
        .text-banner {
            width: 100%;
            line-height: 1.5;
            font-size: 38px;
            font-weight: 600;
            @include xs {
                font-size: 24px;
                padding-left: 20px;
            }
            @include sm {
                padding-left: 20px;
            }
            .carousel-dv {
                @include sm {
                    width: 70%;
                }
                p {
                    font-size: 38px;
                    color: var(--color-main);
                    margin: 0;
                    @include xs {
                        font-size: 24px;
                    }
                }
            }
        }
        .img-banner {
            img {
                width: 100%;
            }
        }
    }
    .partner {
        p {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 30px;
            @include xs {
                font-size: 24px;
            }
        }
    }
}

.group-1 {
    background-color: var(--color-bg-ft);
    margin-top: 50px;
    padding: 100px 15px 50px 15px;
    .row {
        --bs-gutter-x: 0;
    }
    img {
        width: 100%;
    }
    .anh-add {
        @include xs {
            display: none;
        }
        @include sm {
            display: none;
        }
        @include md {
            display: block;
        }
        @include lg {
            display: none;
        }
    }
    .g1 {
        .g1-title {
            font-weight: 700;
            font-size: 30px;
            @include xs {
                font-size: 24px;
                margin-left: 10px;
            }
        }

        .g1-list {
            margin: 0 auto;
            .item {
                padding: 15px;
                border: 1px solid var(--color-main);
                border-radius: 15px;
                margin: 20px auto;

                .title-i {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .icon-i {
                        height: 28px;
                        width: 28px;
                        background-color: var(--color-main);
                        border-radius: 50%;
                        position: relative;
                        margin-right: 10px;
                        .star {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: white;
                            font-size: 22px;
                        }
                    }
                    p {
                        margin: 0;
                        font-size: 20px;
                        color: var(--color-main);
                        font-weight: 500;
                        @include xs {
                            font-size: 16px;
                        }
                    }
                }
                .des {
                    font-weight: 500;
                }
            }
        }
        .btn-dv {
            background-color: var(--color-main);
            border-radius: 7px;
            width: fit-content;
            color: white;
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            margin-top: 70px;
            @include xs {
                font-size: 16px;
                padding: 10px 80px;
                margin: 50px auto;
            }
            @include sm {
                padding: 15px 80px;
                margin: 50px auto;
            }
            @include xl {
                padding: 15px 80px;
                margin: unset;
            }
        }
    }
}
.group-2 {
    background-color: var(--color-bg-ft);
    padding-top: 50px;

    .g2-title {
        font-weight: 700;
        font-size: 30px;
        @include xs {
            font-size: 24px;
            margin-left: 10px;
        }
        @include sm {
            margin-left: 10px;
        }
    }
    .g2-carousel {
        margin-top: 50px;
        .image-crs {
            position: relative;
            height: 170px;
            overflow: hidden;
            border-radius: 10px;
            .g2_bg_1 {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            .g2_1 {
                position: absolute;
                left: 5%;
                top: 20%;
                img {
                    width: 50%;
                }
            }
            .g2_bg_2 {
                position: absolute;
                top: -15%;
                right: -6%;
            }
            p {
                position: absolute;
                top: 0;
                right: 2%;
                font-size: 25px;
                color: white;
                font-weight: 600;
            }
        }
        .title-crs {
            font-weight: 800;
            padding: 15px;
            font-size: 20px;
        }
        .des-crs {
            font-weight: 500;
            padding: 15px;
            height: 250px;
            @include xs {
                height: 200px;
            }
        }
    }
}
.group-3 {
    background-color: var(--color-bg-ft);
    padding-top: 50px;
    .g3-title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        padding: 10px;
        @include xs {
            font-size: 24px;
        }
    }
    .g3-carousel {
        margin-top: 50px;
        padding: 20px 20px 0px 20px;
        background-color: white;
        border-radius: 15px;
        position: relative;
        img {
            width: 100%;
        }
        .g3-logo {
            img {
                width: 30%;
            }
        }
        span {
            &:nth-child(1) {
                color: var(--color-main);
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                font-style: italic;
            }
            &:nth-last-child(n) {
                font-weight: 500;
                font-size: 16px;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
        p {
            margin-top: 20px;
            font-weight: 500;
            font-style: italic;
        }
        .g3-box {
            @include xs {
                padding-bottom: 150px;
            }
            @include sm {
                padding-bottom: 150px;
            }
        }
        .arrow-slide {
            position: absolute;
            bottom: 110px;
            font-size: 30px;
            cursor: pointer;
            color: var(--color-main);
        }
        .btn-g3 {
            background-color: var(--color-main);
            padding: 10px 60px;
            border-radius: 7px;
            color: white;
            font-size: 18px;
            font-weight: 500;
            width: fit-content;
            cursor: pointer;
            position: absolute;
            bottom: 40px;
            @include xs {
                font-size: 16px;
            }
        }
    }
}
.group-4 {
    background-color: var(--color-bg-ft);
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}
