@import '../../../css/media.scss';
@import '../../../css/reset.scss';
.form-dv {
    background-color: #333;

    @include xs {
        width: 100%;
        padding: 50px 10px;
        margin: 0 auto;
    }
    @include sm {
        width: 95%;
        margin: 0 auto;
        padding: 40px;
        border-radius: 15px;
    }
    @include xl {
        width: 80%;
        margin: 0 auto;
        padding: 60px;
        border-radius: 15px;
    }
    .row {
        @include xs {
            --bs-gutter-x: 0;
        }
        @include sm {
            --bs-gutter-x: 1.5rem;
        }
    }
    p {
        margin: unset;
        text-align: center;

        &:nth-child(1) {
            font-weight: 500;
            color: white;
            font-size: 32px;
            @include xs {
                font-size: 24px;
            }
        }
        &:nth-last-child(n) {
            font-weight: 500;
            font-size: 32px;
            @include xs {
                font-size: 24px;
            }
        }
    }
    .form-control {
        border: 3px solid transparent;
    }
    .form-control:focus {
        border: 3px solid var(--color-main);
        box-shadow: none;
    }
    .form-select {
        border: 3px solid transparent;
        box-shadow: none;
    }
    .form-select:focus {
        border: 3px solid var(--color-main);
        box-shadow: none;
    }
    input {
        @include xs {
            padding: 9px;
            margin-bottom: 10px;
        }
        @include sm {
            margin-bottom: 20px;
            padding: 12px;
        }
    }
    select {
        @include xs {
            margin-bottom: 15px;
        }
        @include sm {
            margin-bottom: 20px;
            padding: 10px;
        }
    }
    .text-area {
        @include sm {
            margin-top: 20px;
        }
    }
    .btn-g4 {
        padding: 15px 80px;
        background-color: var(--color-main);
        color: white;
        border-radius: 7px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 50px;
        font-weight: 500;
        cursor: pointer;
        font-size: 18px;
        @include xs {
            font-size: 16px;
            padding: 10px 60px;
        }
    }
}
