@import '../../../../css/media.scss';
@import '../../../../css/reset.scss';
.partner-home {
    .logo-partner {
        margin: 0 auto;

        @include xs {
            width: 100%;
        }
        @include sm {
            width: 100%;
        }
    }
}
