:root {
    --color-bg-ft: #f4f4f4;
}
.footer {
    background-color: var(--color-bg-ft);
    .main {
        display: flex;
        justify-content: space-between;
        padding: 70px 0;
        .title-f {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .des-f {
            font-size: 15px;
        }
    }
}
