@import '../../css/media.scss';
@import '../../css/reset.scss';
:root {
    --color-bg-ft: #f4f4f4;
}
.footer {
    background-color: var(--color-bg-ft);
    .main {
        display: flex;
        justify-content: space-between;

        @include xs {
            padding: 50px 20px 20px 20px;
        }
        @include sm {
            padding: 50px 20px 20px 20px;
        }
        @include lg {
        }
        @include xl {
            padding: 70px 0;
        }
        .title-f {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .des-f {
            font-size: 15px;
            font-weight: 500;
        }
    }
}
