@import '../../../../css/reset.scss';
@import '../../../../css/media.scss';
.center-p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact {
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: grid;
    grid-auto-columns: auto;
    @include xs {
        right: 28px;
        bottom: 80px;
    }
    .phone {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0984e3;
        margin-bottom: 30px;
        font-size: 25px;
        cursor: pointer;
        width: 37px;
        height: 37px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        @include xs {
            width: 28px;
            height: 28px;
            font-size: 18px;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 37px;
            height: 37px;
            background-color: #0984e3;
            border-radius: 50%;
            z-index: -1;
            animation: call 1.5s forwards infinite ease;
            @include xs {
                width: 28px;
                height: 28px;
            }
        }
    }
    .zalo {
        width: 50px;
        cursor: pointer;
        @include xs {
            width: 40px;
        }
        img {
            width: 100%;
        }
    }
}

@keyframes call {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.7);
    }
}
