@import '../../css/reset.scss';
@import '../../css/media.scss';
:root {
    --color-main: #0984e3;
    --color-bg-modal: white;
}
p {
    margin: 0;
    padding: 0;
}

.formm {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    z-index: 1000;
    background-color: var(--color-bg-modal);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: 420px;
    border-radius: 20px;
    opacity: 0;
    animation: scaleUp 0.5s forwards;
    &.out {
        animation: scaleDown 0.5s forwards;
    }
    @include xs {
        width: 90%;
    }
    @include sm {
        width: 80%;
    }
    @include md {
        width: 65%;
    }
    @include xl {
        width: 420px;
    }
    .modal-info {
        position: relative;
        padding: 50px 20px 40px 20px;
        .row {
            --bs-gutter-x: 0;
        }
        .btn-close {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
        }
        .logo-modal {
            display: flex;
            justify-content: center;
            img {
                // width: 140px;
                @include xs {
                    width: 90px;
                }
                @include sm {
                    width: 140px;
                }
                @include lg {
                    width: 100px;
                }
                @include xl {
                    width: 140px;
                }
            }
        }
        .text {
            margin: 20px 0;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            @include xs {
                font-size: 15px;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
        .custom-input {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            padding: 8px 10px;
            border-radius: 5px;

            input {
                width: 100%;
            }
            img {
                width: 35px;
                margin-right: 7px;
            }
        }
        .activec {
            border: 1px solid var(--color-main);
        }
        .tuvan {
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            padding: 8px 0;
        }
    }
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}
