@import '../../../../css/media.scss';
@import '../../../../css/reset.scss';
.row-r {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    @include xs {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }
    @include sm {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .col-r {
        img {
            width: 100%;
        }
    }
}
