@import '../../../../css/media.scss';
.video {
    .youtube {
        display: flex;
        margin: 0 auto;
        @include xs {
            width: 100%;
            height: 30vh;
        }
        @include sm {
            width: 100%;
            height: 436px;
            object-fit: cover;
        }
    }
}
